{{#each user.posts as |post| }}
<div class="card m-3">
    <a href="/update/{{post.id}}" style="text-decoration:none; color:inherit;"><div class="card-header">{{post.title}}</div></a>
    <div class="card-body">
        <p class="card-title">Posted on: {{post.date}}</p>
        <p class="card-text">{{post.content}}</p>
    </div>
</div>
{{/each}}
<form class="m-3">
  <div class="form-group">
    <input type="text" class="form-control" id="title" placeholder="Post Title">
    <textarea class="form-control" placeholder="Post Content" id="post-area" rows="3"></textarea>
    <button type="submit" class="btn btn-primary m-auto" id="btn">Submit</button>
  </div>
</form>
<script src="/js/dashboard.js"></script>