{{#each posts as |post| }}
<div class="card m-3">
    <a href="#" style="text-decoration:none; color:inherit;"><div class="card-header">{{post.title}}</div></a>
    <div class="card-body">
        <h5 class="card-title">Posted by: {{post.user.name}} on {{post.date}}</h5>
        <p class="card-text">{{post.content}}</p>
    </div>
</div>
{{/each}}