<form class="m-3">
  <div class="form-group">
    <textarea class="form-control" id="title" rows="1">{{post.title}}</textarea>
    <textarea class="form-control" id="post-area" rows="3">{{post.content}}</textarea>
    <button type="submit" class="btn btn-primary m-auto" id="update">Update</button>
    <button type="submit" class="btn btn-primary m-auto" id="delete">Delete</button>
  </div>
</form>
<script src="/js/update.js"></script>
